body {
    background: maroon;
    color: white;
    font-family: 'Courier New', monospace;
}

.title {
    font-size: 50px;
    text-align: center;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.image-container {
    text-align: center;
}

img {
    height: auto;
    width: 400px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.content {
    margin: 2% 20%;
}

.mini-title {
    text-align: center;
}