body {
    background: maroon;
    color: white;
    font-family: 'Courier New', monospace;
}

.title {
    font-size: 50px;
    text-align: center;
}

a {
    color: white;
    font-size: 20px;
}

.image-container {
    text-align: center;
}

img {
    height: auto;
    width: 400px;
}